/* Variables */
:root
{
  --color-base03  :#002b36; /*brblack*/
  --color-base02  :#073642; /*black*/
  --color-base01  :#586e75; /*brgreen*/
  --color-base00  :#657b83; /*bryellow*/
  --color-base0   :#839496; /*brblue*/
  --color-base1   :#93a1a1; /*brcyan*/
  --color-base2   :#eee8d5; /*white*/
  --color-base3   :#fdf6e3; /*brwhite*/
  --color-yellow  :#b58900; /*yellow*/
  --color-orange  :#cb4b16; /*brred*/
  --color-red     :#dc322f; /*red*/
  --color-magenta :#d33682; /*magenta*/
  --color-violet  :#6c71c4; /*brmagenta*/
  --color-blue    :#268bd2; /*blue*/
  --color-cyan    :#2aa198; /*cyan*/
  --color-green   :#859900; /*green*/
}

/*Yleiset*/
*{
    text-decoration: none;
}

td,th {
    text-align: center;
    } 

.nav a
{
    text-decoration: none;
}

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color-base2);
}

a
{
    text-decoration: none;
    color: black;
}

a:link
{
    color: black;
    text-decoration: none;
}

input:hover
{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    font-size: 20px;
    margin: auto;
    height: 5vh;
    text-align: center;
    border-radius: 5px;
    color: var(--color-base2);
}

li:hover
{
    background-color: var(--color-base03);
    height: 5vh;
    border-radius: 5px;
    min-height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav
{
    height: 100%;
}

.container
{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 20vw);
    grid-auto-rows: repeat(4, 25vh);
    grid-row-gap: 0;
    background-image: url("../img/bg-noise.png");
}

.content
{
    grid-column: 3/4
}

.sidePanel
{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    min-width: 200px;
    margin: 0 0 0 0;
    text-align: center;
    grid-column: 1/2;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: var(--color-base02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-right-style: solid;
    border-color: var(--color-cyan);
    text-shadow: 2px 2px 4px #000000;
}

.main-header
{
  color: #239687;
  display: block;
}

.rightSide
{
    display: block;
    float: right;
    width: 18vw;
    height: 100vh;
    grid-column: 5/6;
    background-color: #999999;
}

.temp
{
    grid-row: 1;
    grid-column: 5/6;
    float: right;
    right: 0;
}

/*Asetussivu*/

.settingsNav
{
    height: 40px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: var(--color-cyan);
}

.settingsList
{
    text-decoration: none;
    width: 100%;
    height: 2.5em;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-base02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 2px 4px #000000;
}

.settingsItem
{
    text-decoration: none;
    float: left;
    width: 50%;
}

.settingsLink
{
    color: var(--color-base2);
    text-decoration: none;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0 auto 0 auto;
}

.firstRow
{
    text-align: center;
    grid-row: 1;
    grid-column: 2/6;
}

.disabled
{
    pointer-events: none;
}

.secondRow
{
    margin: auto auto auto auto;
    grid-row: 2;
    grid-column: 2/5;
}

.timeInput
{
    margin-left: 2vw;
}

.button
{
    display: block;
    margin: 2vh auto auto auto;
    text-align: center;
    height: 3em;
    width: 10em;
}

.thirdRow
{
    text-align: center;
    position: relative;
    height: 100%;
    min-height: 25vh;
    border: 1px solid var(--color-cyan);
    grid-row: 3;
    grid-column: 2/4;
}

.fourthRow
{
    text-align: center;
    position: relative;
    height: 100%;
    min-height: 25vh;
    border: 1px solid var(--color-cyan);
    display: block;
    float: right;
    grid-row: 3;
    grid-column: 4/6;
}

.stopButton
{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    text-align: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: red;
    bottom: 0;
}

.startButton
{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    text-align: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: green;
    bottom: 0;
}

.startButtonDisabled
{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: grey;
    display: block;
    margin-bottom: 0;
    text-align: center;
    height: 50px;
    width: 200px;
    color: black;
    border-radius: 5px;
    opacity: 0.8;
    bottom: 0;
}

.settingsContent
{
    margin-left: auto;
    margin-right: auto;
}

/*Infosivu*/

.infoNav
{
    display: inline;
    height: 40px;
    grid-column: 2/6;
    grid-row: 1;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: var(--color-cyan);
    /*margin-top: 10vh;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--color-base02);
}

.listContainer
{
    display: table;
    margin: 0 auto 0 auto;
}

.infoList
{
    width: 100%;
    text-decoration: none;
    height: 2.5em;
    list-style-type: none;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-base02);
    text-shadow: 2px 2px 4px #000000;
}

.infoItem
{
    text-decoration: none;
    float: left;
    margin-left: 2vw;
}

#lastItem
{
}

.infoLink
{
    color: var(--color-base2);
    text-decoration: none;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0 auto 0 auto;
}

.images
{

    grid-column: 2/5;
    grid-row: 2;
}

#img
{
    float: left;
    display: block;
    height: auto;
}

table
{
    font-size: 20px;
    width: 50vh;
    display: inline-block;
    margin: 0 25vw 0 25vw;
    /*text-align: center;*/
}

th, td {
    border-bottom: 1px solid #ddd;
}

.sensorContainer
{
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    grid-column: 2/6;
    grid-row: 2;
}

.sensorTable td, tr, th
{
    width: 400px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.sensorTableTemps
{
    /*width: 400px;
    display: block;*/
}

.sensorTable td
{
    text-align: center;
}

/*Kirjautumissivu*/

.message
{
    font-size: 20px;
    margin-top: 5vh;
    grid-row: 1;
    grid-column: 3/4;
}

.userText
{
    margin: 2vh 0 2vh 0;
    font-size: 22px;
}
