/*Yleiset*/
*{
    text-decoration: none;
}

.nav a
{
    text-decoration: none;
}

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

a:link
{
    color: black;
    text-decoration: none;
    
}

input:hover
{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    color: black;
    font-size: 20px;
    margin: auto;
    height: 5vh;
    text-align: center;
    border-radius: 5px;
}

li:hover
{
    background-color: #bfbfbf;
}

.container
{
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(4, 25vh);
    grid-row-gap: 0;
}

.content
{
    grid-column: 3/4
}

.sidePanel
{
    height: 100vh;
    width: 100%;
    min-width: 200px;
    margin: 0 0 0 0;
    text-align: center;
    grid-column: 1/2;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #999999;
}

.rightSide
{   
    display: block;
    float: right;
    width: 18vw;
    height: 100vh;
    grid-column: 5/6;
    background-color: #999999;
}

.temp
{
    grid-row: 1;
    grid-column: 5/6;
    float: right;
    right: 0;

}

/*Asetussivu*/

.settingsNav
{
    width: 100%;
}

.settingsList
{
    text-decoration: none;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
}

.settingsItem
{
    text-decoration: none;
    float: left;
    width: 50%;
}

.settingsLink
{
    text-decoration: none;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0 auto 0 auto;
}

.firstRow
{
    text-align: center;
    grid-row: 1;
    grid-column: 2/6;
}

.disabled
{
    pointer-events: none;
}

.secondRow
{
    margin: auto auto auto auto;
    grid-row: 2;
    grid-column: 2/5;
}

.timeInput
{ 
    margin-left: 2vw;
}

.button
{
    display: block;
    margin: 2vh auto auto auto;
    text-align: center;
    height: 3em;
    width: 10em;
}

.thirdRow
{
    text-align: center;
    position: relative;
    height: 100%;
    border: 1px solid grey; 
    grid-row: 3;
    grid-column: 2/4;
}

.fourthRow
{
    text-align: center;
    position: relative;
    height: 100%;
    border: 1px solid grey;
    display: block;
    float: right;
    grid-row: 3;
    grid-column: 4/6;
}

.stopButton
{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    text-align: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: red;
    bottom: 0;
}

.startButton
{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    text-align: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: green;
    bottom: 0;
}

.startButtonDisabled
{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: grey;
    display: block;
    margin-bottom: 0;
    text-align: center;
    height: 50px;
    width: 200px;
    color: black;
    border-radius: 5px;
    opacity: 0.8;
    bottom: 0;
}

.settingsContent
{
    margin-left: auto;
    margin-right: auto;
}

/*Infosivu*/

.infoNav
{
    display: block;
    width: 100%;
    height: 50px;
    grid-column: 2/6;
    grid-row: 1;
    /*margin-top: 10vh;*/
}

.infoList
{
    text-decoration: none;
    width: 100%;
    height: 2.5em;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
    
}

.infoItem
{
    text-decoration: none;
    float: left;
    margin-left: 2vw; 
}

.infoLink
{
    text-decoration: none;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0 auto 0 auto;
}

.images
{
    
    grid-column: 2/5;
    grid-row: 2;
}

#img
{
    float: left;
    display: block;
    max-width: 500px;
    height: auto;
}

table
{
    font-size: 20px;
    width: 50vh;
    display: inline-block;
    margin: 0 25vw 0 25vw;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.sensorTable
{
    text-align: center;
    grid-column: 2/6;
    grid-row: 2;
}

/*Kirjautumissivu*/

.message
{
    font-size: 20px;
    margin-top: 5vh;
    grid-row: 1;
    grid-column: 3/4;
}



.userText
{
    margin: 2vh 0 2vh 0;
    font-size: 22px;
}
