body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    font-size: 20px;
    margin: auto;
    height: 5vh;
    text-align: center;
    border-radius: 5px;
}

li:hover
{
    background-color: #bfbfbf;
}

table
{
    width: 50vh;
    display: inline-block;
    margin: 5vh 25vh 0 25vh;
    text-align: center;
    align-items: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.content
{
    grid-column: 3/4
}

.firstRow
{
    grid-row: 1;
    grid-column: 3/4;
}

.secondRow
{
    grid-row: 2;
    grid-column: 3/4;
}

.settingsContent
{
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/5;
}

.container
{
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 20vh);
    grid-row-gap: 0;
}

.stopButton
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2vh;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: red;
}

.sensorTable
{
    text-align: center;
    grid-column: 2/6
}

.message
{
    font-size: 20px;
    margin-top: 5vh;
    grid-row: 1;
    grid-column: 3/4;
}

.button
{
    text-align: center;
}

.userText
{
    margin: 2vh 0 2vh 0;
    font-size: 22px;
}

.sidePanel
{
    height: 100vh;
    width: 18vw;
    min-width: 200px;
    margin: 0 0 0 0;
    text-align: center;
    grid-column: 1/2;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #999999;
}

.rightSide
{
    height: 100vh;
    grid-column: 5/6;
}
